<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<mapping resource="com/hand/bean/City.hbn.xml"/>
		<mapping resource="com/hand/bean/Address.hbn.xml"/>
		<mapping resource="com/hand/bean/Country.hbn.xml"/>
		<mapping resource="com/hand/bean/Customer.hbn.xml"/>
		<mapping resource="com/hand/bean/Store.hbn.xml"/>
	</session-factory>
</hibernate-configuration>